<nav>
    <mat-toolbar class="flex">

        <div class="logo">
            <mat-icon>cloud </mat-icon><mat-icon>queue_music</mat-icon>
            <span class="logo-space" style="padding: 2px;">Weather tunes</span>
        </div>

        <span class="example-spacer"></span>
        <div>
            <button mat-icon-button class="dark_mode" (click)="toggleTheme()">
                <mat-icon>dark_mode</mat-icon>
            </button>

            <button mat-icon-button class="share">
                <mat-icon>share</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</nav>

